<nav class="navbar navbar-expand-lg gradiente-navbar">
  <div>
    <img class="img-logo" src="../../public/img/logo-navbar.png" />
  </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse background-navbar" id="navbarToggler">
      <div class="navbar-nav flex-grow-1 navbar-underline">
        <a class="underline color-text-navbar" href="/">Cursos</a>
        <a class="underline color-text-navbar" href="/">Questinário</a>
        <a class="underline color-text-navbar" href="/">Sobre a Espm</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link btn-publicar-livro" href="/"> Portal ESPM </a>
      </div>
    </div>
</nav>