<footer class="rodape gradiente-rodape">
	<div class="container-rodape">
		<div class="row-rodape">
			<div class="rodape-col">
				<h4>Empresa</h4>
				<ul>
					<li><a href="#">Sobre Nós</a></li>
					<li><a href="#">Privacidade e Política</a></li>
				</ul>
			</div>
			<div class="rodape-col">
				<h4>Obter Ajuda</h4>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Fale Conosco</a></li>
				</ul>
			</div>
			<div class="rodape-col">
				<h4>Contato</h4>
				<ul>
					<li><a href="#">R. Joaquim Távora, 1240 - Vila Mariana</a></li>
					<li><a href="#">São Paulo, Brazil</a></li>
					<li><a href="#">+55 (11) 5085-4600</a></li>
					<li><a href="#">relacionamentosp@espm.br</a></li>
				</ul>
			</div>
			<div class="rodape-col">
				<h4>Redes</h4>
				<div class="social-links">
					<a target="_blank" href="https://www.linkedin.com/school/escola-superior-de-propaganda-e-marketing/"><i class="fa-brands fa-linkedin-in fa-lg"></i></a>
					<a target="_blank" href="https://www.instagram.com/espmsaopaulo/"><i class="fa-brands fa-instagram fa-lg"></i></a>
					<a target="_blank" href="https://wa.me/558006073777"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>