.limitador {
	max-width: 1200px;
	margin: 0px auto;
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (max-width: 480px) {
}

.underline{
	position: relative;
	text-decoration: none !important;
	font-family: 'Poppins', sans-serif;
	color: #636363;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.underline:hover:after{
	color: #636363;
	width: 100%;
	text-decoration: none !important;
}

.navbar-nav{
	text-decoration: none !important;
    justify-content: center;
    align-items: center;
}
.navbar-toggler{
    
}
.navbar-underline {
    display: flex;
    justify-content: center; /* Alterado de 'spacing-around' para 'center' */
    margin: auto;
    align-items: center;
    min-width: 500px; /* Ajuste conforme necessário */
}

.container-rodape{
	max-width: 1170px;
	margin: auto;
}

.container-rodape{
	max-width: 1170px;
	margin: auto;
}

.row-rodape{
	display: flex;
	flex-wrap: wrap;
}

.rodape{
	background-color: #2F3033;
	padding: 70px 0;
} 

.rodape-col{
	width: 25%;
	padding: 0 15px;
}

.rodape-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.rodape-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #CA765E;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.rodape-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.rodape-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.rodape-col ul li a:hover{
	color: #CA765E;
	padding-left: 8px;
}

.rodape-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #FFFFFF;
	transition: all 0.5s ease;
}

.rodape-col .social-links a:hover{
	color: #A90533;
	background-color: #ffffff;
}

.color-text-navbar{
    color: #FFFFFF;
}



/* <!-- responsive --> */
@media(max-width: 767px){
	.rodape-col{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px){
	.rodape-col{
		width: 100%;
	}
}







/* Gragiente Rodape */
.gradiente-rodape {
    background: linear-gradient(to bottom, #A90533, #313032);
}

.gradiente-navbar {
    background: linear-gradient(to bottom, #A90533, #313032);

}

