.limitador {
	max-width: 1400px;
	margin: 0px auto;
}

/* responsividade  */

@media (max-width: 767px) {
}

@media (max-width: 991px) {
}

@media (max-width: 480px) {
}

/* Navbar */

.gradiente-navbar {
    background-image: linear-gradient(to bottom, #4A2933, #841233);
}

.navbar-nav {
	text-decoration: none !important;
    justify-content: center;
    align-items: center;
}

.underline-navbar {
	position: relative;
	text-decoration: none !important;
	font-family: 'Poppins', sans-serif;
	color: #636363;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.underline-navbar:hover:after {
	color: #636363;
	width: 100%;
	text-decoration: none !important;
}

.navbar-underline {
    display: flex;
    justify-content: center; 
    margin: auto;
    align-items: center;
    min-width: 500px; 
}

.color-text-navbar {
    color: #FFFFFF;
}

.btn-navbar-portal {
	color: white;
	text-decoration: none;
}

.navbar-toggler {
	background-color: #A90533;
}

/* Rodape */

.rodape {
	background-color: #A90533;
	padding: 30px 0;
} 

.gradiente-rodape {
    background: linear-gradient(to bottom, #A90533, #313032);
}

.container-rodape {
	max-width: 1170px;
	margin: auto;
}

.rodape-centro {
	text-align: center;
}

.rodape-espaco-icones {
	margin-right: 10px;
}

.botao-rodape a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.botao-rodape a:hover {
    text-decoration: none;
}

/* hm-pg1 */

.hm-pg1-espacamento {
	padding-top: 90px;
	padding-left: 30px;
	padding-bottom: 140px;
}

.hm-pg1-espm-red {
	font-weight: 700;
	color: #A90533;
}

.hm-pg1-desc {
	font-family: "Manrope", sans-serif;
	padding-bottom: 20px;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 20px;
}

.hm-pg1-btn-comecar {
	background-color: #A90533;
	padding: 14px;
	color: #FFF;
	text-decoration: none !important;
	padding-left: 10px;
	font-weight: 600;
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hm-pg1-btn-comecar:hover {
    background-color: #b3394d; 
    color: #FFF; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.hm-pg1-img-pessoas {
	margin-top: 0px;
}

@media (max-width: 575px) {
    .hm-pg1-espacamento {
        padding-bottom: 0;
    }

	.hm-pg1-centro-btn {
		text-align: center;
		padding: 15px 0 15px 0;
	}

	.hm-pg1-btn-comecar {
		text-align: center;
		
    	margin: 0 auto;
	}

	.hm-pg1-centraliza-titulo {
		text-align: center;
	}

	.hm-pg1-desc {
		font-size: 20px;
		text-align: center;
	}

	.hm-pg1-img-pessoas {
		text-align: center;
	}
}

/* hm-pg2 */

.hm-pg2-fundo {
	color: #FFFFFF;
	background-color: #A90533;
	padding-top: 50px;
	padding-left: 30px;
	padding-bottom: 0px;
}

.hm-pg2-desc {
	font-family: "Manrope", sans-serif;
	padding-bottom: 20px;
	font-weight: regular;
	font-size: 20px;
	padding-top: 10px;
}

/* hm-pg3 */

.hm-pg3-fundo {
	color: black;
	background-color: white;
	padding-top: 50px;
	padding-left: 30px;
	padding-bottom: 0px;
}

.hm-pg3-desc {
	font-family: "Manrope", sans-serif;
	padding-bottom: 20px;
	padding-top: 30px;
	font-weight: regular;
	font-size: 30px;
}

/* Pg-Cursos */

.cursos-titulo-responsivo {
	max-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px 0 10px;
}

.cursos-titulo {
	font-size: 30px;
	font-weight: normal;
	color: black;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cursos-texto-vermelho {
	font-weight: bold;
	color: #A90533;
}

.cursos-imagem {
	width: 100%;
    height: auto;
}

.cursos-texto-cima-desing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.cursos-texto-cima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.cursos-separacao {
	margin-top: 30px;
	margin-bottom: 30px;
}

.curso-si-separacao {
	margin-bottom: 30px;
	text-align: center;
}

.curso-si-imagem {
	width: 100%;
    height: auto;
}

.curso-si-texto-cima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 575px) {

	.curso-cima-separacao-desing {
		margin-bottom: 30px;
	}

	.cursos-texto-cima-desing {
		position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        text-align: center;
	}

    .curso-cima-separacao {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.col-sm-12.curso-si-separacao {
        margin-bottom: 30px;
        text-align: center;
    }

    .col-sm-12.curso-si-separacao a {
        display: inline-block;
        width: 100%;
    }

    .col-sm-12.curso-si-separacao .curso-si-imagem {
        width: 100%;
        height: auto;
    }

    .col-sm-12.curso-si-separacao {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .col-sm-12.curso-si-separacao {
        margin-bottom: 30px;
        text-align: center;
    }

    .curso-si-separacao {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .col-sm-12.curso-si-separacao {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

	.curso-si-imagem-separacao {
		margin-bottom: 30px;
	}
}
