<!-- Pagina 1 -->

<!-- <div class="">
    <a href="/" class="hm-pg1-btn-comecar"><img src="../../public/img/seta-voltar.png" alt=""> Voltar</a>
</div> -->

<div class="cursos-titulo-responsivo">
    <h1 class="cursos-titulo">Escolha seu <span class="cursos-texto-vermelho">CURSO</span></h1>
</div>

<!-- cursos de cima -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <a href="">
                <img src="../../public/img/fundo-design.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Design">
                <div class="cursos-texto-cima">
                    Design
                </div>
            </a>
        </div>


        <div class="col-sm-3">
            <a href="">
                <img src="../../public/img/fundo-adm.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Administração">
                <div class="cursos-texto-cima">
                    Administração
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="">
                <img src="../../public/img/fundo-ri.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Relações Internacionais">
                <div class="cursos-texto-cima">
                    Relações Internacionais
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="">
                <img src="../../public/img/fundo-cc.png" class="cursos-imagem curso-cima-separacao" style="max-width: 1200px; height: auto;" alt="Curso de Ciências do Consumo">
                <div class="cursos-texto-cima">
                    Ciências do Consumo
                </div>
            </a>
        </div>
    </div>
</div>

<!-- cursos de baixo -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 cursos-separacao">
            <a href="">
                <img src="../../public/img/fundo-cinema.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Cinema e Audiovisual">
                <div class="cursos-texto-cima">
                    Cinema e Audiovisual
                </div>
            </a>
        </div>


        <div class="col-sm-3 cursos-separacao">
            <a href="">
                <img src="../../public/img/fundo-cp.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Comunicação e Publicidade">
                <div class="cursos-texto-cima">
                    Comunicação e Publicidade
                </div>
            </a>
        </div>

        <div class="col-sm-3 cursos-separacao">
            <a href="">
                <img src="../../public/img/fundo-direito.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Direito">
                <div class="cursos-texto-cima">
                    Direito
                </div>
            </a>
        </div>

        <div class="col-sm-3 cursos-separacao">
            <a href="">
                <img src="../../public/img/fundo-jornalismo.png" class="cursos-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Jornalismo">
                <div class="cursos-texto-cima">
                    Jornalismo
                </div>
            </a>
        </div>
    </div>
</div>

<!-- curso de si -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center curso-si-separacao">
            <a href="">
                <img src="../../public/img/fundo-si.png" class="curso-si-imagem" style="max-width: 1200px; height: auto;" alt="Curso de Sistemas de Informação">
                <div class="curso-si-texto-cima">
                    Sistemas de Informação
                </div>
            </a>
        </div>
    </div>
