<div class="container-fluid espacinhocabecalho padding-text">
	<div class="row">
		<div class="col-sm-6">
			<div class="">
				<h1 class="titulo-home"><span class="ESPM-red">Descubra</span> quem você vai se tornar dentro da <span
						class="ESPM-red">ESPM!</span></h1>

				<p class="desc-home">
					Um jeito simples e rápido para encontrar o melhor caminho para sua carreira profissional.
				</p>

				<div class="#">
					<a href="#" class="btn-comecar">COMEÇAR O TESTE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<img class="img-pessoas" src="../../public/img/ImgHome.png" width="400" />
		</div>
	</div>
</div>

<div class="container-fluid fundinho espacinhocabecalho padding-text">
	<div class="row">
		<div class="col-sm-6">
			<div class="">
				<h1 class="titulo-home">Encontre seu caminho!</h1>

				<p class="desc-home">
					Em meio as inúmeras opções de carreira disponíveis, é comum se sentir perdido na hora de escolher sua carreira profissional ideal. 
				</p>

				<div class="#">
					<a href="#" class="btn-comecar">COMEÇAR O TESTE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="">
				<img src="../../public/img/ImgHome.png" width="400" />
			</div>
		</div>
	</div>
</div>