<div class="container-fluid fundinho espacinhocabecalho">
	<div class="row">
	  <div class="col-sm-6">
		<h1 class="#">Descubra quem você vai se tornar dentro da ESPM!</h1>

		<p class="#">
		  Um jeito simples e rápido para encontrar o melhor caminho para sua carreira profissional.
		</p>

		<div class="#">
			<a href="#" class="btn-teste">COMEÇAR O TESTE</a>
		</div>
	  </div>
  
	  <div class="col-sm-6">
		<img class="#" src="../../public/img/#" width="400" />
	  </div>
	</div>
  </div>