<!-- Botoes para Celular -->
<div class="mostrar-mobile">
    <div class="cursos-container">
        <div class="cursos-voltar-espaco">
            <a href="../../quest/cursos" class="cursos-voltar"><img src="../../public/img/seta-voltar.png" alt="">Voltar</a>
        </div>

        <div class="cursos-home-espaco">
            <a href="/" class="cursos-home"><img src="../../public/img/icone-home.png" alt="">Home</a>
        </div>
    </div>
</div>

<!-- Pagina -->

<div class="quali-titulo-responsivo">
    <div class="quali-container">
        <img class="quali-icone-preto" src="../../public/img/vetor-lp.png" alt="Ícone Linguagem de Programação">
        <h1 class="quali-titulo-foto">Linguagem de Programação</h1>
    </div>
</div>


<div class="quali-titulo-responsivo">
    <h1 class="quali-titulo">Selecione suas <span class="quali-texto-vermelho">QUALIFICAÇÕES</span></h1>
</div>

<!-- formulário -->

<div class="quali-container-menor ">
<form>
    <div class="quali-checkbox-container">
        <label for="java" class="quali-checkbox-label">Java</label>
        <input type="checkbox" id="java" name="categoria" value="java">
    </div>
    <div class="quali-checkbox-container">
        <label for="python" class="quali-checkbox-label">Python</label>
        <input type="checkbox" id="python" name="categoria" value="python">
    </div>
    <div class="quali-checkbox-container">
        <label for="c" class="quali-checkbox-label">C</label>
        <input type="checkbox" id="c" name="categoria" value="c">
    </div>
    <div class="quali-checkbox-container">
        <label for="javascript" class="quali-checkbox-label">JavaScript</label>
        <input type="checkbox" id="javascript" name="categoria" value="javascript">
    </div>
    <!-- Remover as duplicatas aqui -->
    <input type="submit" value="Próximo">
</form>
</div>