<div id="result-container" class="result-container">
    <p class="result-subtitulo">Sua profissão ideal é:</p>

    <h1 class="result-titulo">Cientista de Dados</h1>
    <div class="result-imagem">
        <img src="../../public/img/result-cd.png" alt="Imagem de um Aluno">
    </div>

    <p class="result-subtitulo">Responsável por, a partir de dados armazenados e de necessidades de negócios, criar
        e enriquecer bases de dados analíticas necessárias.</p>

    <div class="result-espaco-btn">
        <a href="/" class="result-compartilhar"><img class="result-seta" src="../../public/img/vetor-seta.png" alt="Compartilhar">Compartilhar</a>
    </div>

    <div class="result-espaco-btn-hm">
        <a href="/" class="result-voltar-hm"><img class="result-seta" src="../../public/img/seta-voltar.png" alt="Voltar">Voltar para home</a>
    </div>
</div>
